{% extends "base.html" %}

{% block content %}
<main>
    <div class="grids">
        <div class="member-page">
            <div class="row">
                <div class="col-sm-12">
                    <div class="content-box">
                        <div class="content-tabset">
                            <div class="tab-content">
                                {% include "includes/alert.html" %}
                                <div class="tabset-title forgot_password">Reset Password</div>
                                <div class="form-container">
                                    <form action="{% url 'reset_password' %}" method="post">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <input type="password" placeholder="New Password" name="password">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" placeholder="Confirm Password"
                                                   name="confirm_password">
                                        </div>
                                        <div class="actions">
                                            <button class="btn signin-btn" type="submit">Submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}